@{
    ViewData["Title"] = "Завершения регистрации";
}

<div class="container">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="~/images/portfolio_vmbi5dtnrw2u_512.png" class="img-fluid" width="256" />
        </div>

    </div>
</div>